.banner {
  background-image: url('/src/assets/artikel-kesehatan-bg.png');
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 512px;
  text-align: center;
  color: white;
  position: relative;
}

.banner h1 {
  font-size: 64px;
  font-weight: 700;
}

.backBtn {
  position: absolute;
  top: 30px;
  left: 50px;
  background-color: white;
  padding: 10px 20px;
  border-radius: 20px;
  color: #0077a6;
  font-weight: bold;
  text-decoration: none;
}

.backBtn:hover {
  opacity: 85%;
}

.cardSection {
    background-color: #fff;
    height: 100%;
}

.cardContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(420px, 0.5fr));
  grid-template-rows: repeat(5, 500px);
  gap: 40px;
  padding: 80px 300px;
}

.card {
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  box-shadow: 0 0 10px 2px #00000025;
  overflow: hidden;
}

.cardImage {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.cardText {
  padding: 20px 25px;
  position: relative;
  height: 100%;
}

.cardText h3 {
  margin: 0 0 10px;
  font-size: 25px;
  font-weight: 600;
}

.cardText p {
  font-size: 1rem;
  color: #ABABAB;
  padding-right: 40px;
}

.readMore {
  display: inline-block;
  padding: 10px 20px;
  background-color: #038fa6;
  color: white;
  border-radius: 20px;
  text-decoration: none;
  font-size: 1rem;
  font-weight: 500;
  position: absolute;
  bottom: 25px;
}
