.btn {
  background-color: #097D9F;
  padding: 10px 20px;
  border-radius: 20px;
  color: #fff;
  font-weight: bold;
  text-decoration: none;
  margin-top: 50px;
  border-color: transparent;
}

.btn:hover {
    background-color: #097D9F;
    opacity: 85%;
    cursor: pointer;
}

