.body {
	margin: 0;
	padding: 0;
	background: linear-gradient(to bottom, #fff, #a8c0b8);
}

.navbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 20px 40px;
	background-color: white;
	box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.navLinks a {
	margin: 0 20px;
	text-decoration: none;
	font-weight: bold;
	color: black;
}

.container {
	display: flex;
	justify-content: center;
	margin-top: 50px;
}

.profileBox {
	background-color: #0e766e;
	border-radius: 15px;
	padding: 40px;
	width: 700px;
	color: white;
	box-shadow: 0 8px 16px rgba(0,0,0,0.25);
}

	.profileBox h2 {
		text-align: center;
		text-decoration: underline;
		margin-bottom: 30px;
	}

	
.profileIcon {
	text-align: center;
	margin-bottom: 30px;
}

	.profileIcon i {
		font-size: 60px;
		color: #333;
		background: #ddd;
		padding: 20px;
		border-radius: 50%;
	}

.formRow {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-bottom: 20px;
}

.formGroup {
	width: 48%;
	margin-bottom: 10px;
}

.formGroupFull {
	width: 100%;
	margin-bottom: 10px;
}

.label {
	display: block;
	margin-bottom: 5px;
	font-weight: bold;
}

.input,
.select {
	width: 100%;
	padding: 10px;
	border-radius: 20px;
	border: none;
	font-size: 14px;
}

.button {
	width: 100%;
	padding: 10px;
	border-radius: 20px;
	border: none;
	background-color: #ffd369;
	font-weight: bold;
	cursor: pointer;
	margin-top: 20px;
}

.icon {
    font-size: 60px;
    color: #0e766e;
    background: #fff;
    padding: 20px;
    border-radius: 50%;
}
