/* * {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden;
} */

.navbarl {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  padding: 10px 30px;
  margin: 0;
  width: 100%;
  box-sizing: border-box;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
  
  .navbarl-logo {
    height: 50px;
    display: block;
    margin: 0;
    padding: 0;
  }
  
  .navbarl-title {
    font-size: 1.2rem;
    font-weight: bold;
    color: #333;
  }
  